#block-block-11 {
  padding-bottom: 20px;
  margin: 10px auto;
  max-width: 800px;
}

#block-block-12 {
  margin: 10px auto;
  max-width: 800px;
}

#block-block-33 {
  padding-bottom: 20px;
  margin: 10px auto;
  max-width: 800px;
}

#block-block-34 {
  margin: 10px auto;
  max-width: 800px;
}

#block-block-35 {
  padding-bottom: 20px;
  margin: 10px auto;
  max-width: 800px;
}

#block-block-36 {
  margin: 10px auto;
  max-width: 800px;
}

.amazon-ad-code {
  clear: both;
  overflow: hidden;
  text-align: center;

  @include breakpoint($full, true) {
    display: none;
  }

  p {
    margin: 20px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
  }
}