article {
  @include breakpoint(1200px, true) {
    width: 90%;
    margin: 0 auto;
  }
  @include breakpoint(1400px, true) {
    width: 85%;
    margin: 0 auto;
  }
  a {
    &:link {color: #009bff;}
    &:visited {color: #009bff;}
    &:hover {color: #005bff;}
    &:active {color: #009bff;}
  }
}