.search-bar {
  display: none;
}

.search-bar.open {
  clear: both;
  display: block;
  padding:10px;
  @include breakpoint($full, true) {
    padding: 50px;
  }


}
input#edit-search-block-form--2 {
  width: 64%;
  padding: 10px;
}

input[type="submit"] {
  background: $black;
  border:2px solid $black;
  color:$white;
  float: right;
  padding: 10px;
  width: 35%;
}

html.js .form-autocomplete {
    background-image: none;
  //background-position: 100% 25px;
  background-repeat: no-repeat;
}
.ui-theme-basic-green.ui-autocomplete-input {
  background-image: none;
  //background-position: 100% 25px;
  background-repeat: no-repeat;
}
.ui-theme-basic-green.ui-autocomplete-loading {
  background-image: none;
  //background-position: 100% -10px;
  background-repeat: no-repeat;
}